.go-module-icon-hoursapproval2, .go-menu-icon-hoursapproval2 {
	background-image:url('images/hoursapproval2.png') !important;
}

.go-tab-icon-hoursapproval2 {
	background-image: none !important;
}

.x-grid3-body .x-grid3-td-ha-total{
	background-color:#F1F2F4;
}

.x-grid3-summary-row .x-grid3-td-ha-total {
	background-color:#E1E2E4;
}
.ha-approval-buttons{
	font-weight:normal;
}
.ha-approval-buttons td{
	padding:0px !important;
	vertical-align:middle !important;
}

.ha-approve, .ha-disaprove{
	float:left;
	margin-right:5px;
}

